<div class="container center text-center">

<img src="/assets/img/burger.png" id="burgerImage" height="300" width="450">
<h1>Eat-Da-Burger!</h1>

  <div class="row">
    <!--Burgers that can be devoured-->
    <div class="col-md-6">  
      <ul class="list-group">
        {{#each burgers}}
          {{#unless devoured}}
              {{!-- {{this.burger_name}} --}}
            {{> burgers/burger-block devoured=true}}
{{!--               <form action="/burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button type="submit">Devour it!</button>
              </form> --}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>  
      <!--Burgers that have been devoured-->
    <div class="col-md-6">  
      <ul class="list-group">
        {{#each burgers}}
          {{#if this.devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
  <form class="create-form" {{!-- action="/api/burgers" --}} method="POST">

    <div class="form-group">
      <input type="text" id="bu" name="name">
    </div>

    <button type="submit">Add Burger</button>
  </form>
  </div>

</div>