{{!-- <li>
	{{this.burger_name}}

	<form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
		<input type="hidden" name="devoured" value="true">
		<button type="submit">Devour it!</button>
	</form>
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour it!
	</button>

</li>
 --}}